/*
 * Fonts used on this site: Diatype, Neue Haas Grotesk, Monument Grotesk Mono.
 *
 * NOTE: These fonts are served from type.cargo.site (Cargo Collective CDN) and
 * are licensed by Dinamo Typefaces for use on Cargo-hosted sites. If this site
 * is no longer hosted through Cargo, you should replace these font-face
 * declarations with self-hosted files or suitable open-source alternatives.
 */

@font-face {
  font-display: block;
  font-family: "Diatype";
  src: url("https://type.cargo.site/files/CargoDiatype-Regular.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoDiatype-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Diatype";
  src: url("https://type.cargo.site/files/CargoDiatype-RegularItalic.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoDiatype-RegularItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Diatype";
  src: url("https://type.cargo.site/files/CargoDiatype-Medium.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoDiatype-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Diatype";
  src: url("https://type.cargo.site/files/CargoDiatype-MediumItalic.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoDiatype-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Diatype";
  src: url("https://type.cargo.site/files/CargoDiatype-Bold.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoDiatype-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Diatype";
  src: url("https://type.cargo.site/files/CargoDiatype-BoldItalic.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoDiatype-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Neue Haas Grotesk";
  src: url("https://type.cargo.site/files/NeueHaasGroteskText-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Neue Haas Grotesk";
  src: url("https://type.cargo.site/files/NeueHaasGroteskText-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Neue Haas Grotesk";
  src: url("https://type.cargo.site/files/NeueHaasGroteskText-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Neue Haas Grotesk";
  src: url("https://type.cargo.site/files/NeueHaasGroteskText-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Neue Haas Grotesk";
  src: url("https://type.cargo.site/files/NeueHaasGroteskText-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Monument Grotesk Mono Variable";
  src: url("https://type.cargo.site/files/CargoMonumentGroteskPlusVariable.woff2") format("woff2-variations"),
    url("https://type.cargo.site/files/CargoMonumentGroteskPlusVariable.woff") format("woff");
  font-style: normal;
  font-weight: 200 900;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Monument Grotesk Mono";
  src: url("https://type.cargo.site/files/CargoMonumentGroteskMono-Regular.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoMonumentGroteskMono-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}

@font-face {
  font-display: block;
  font-family: "Monument Grotesk Mono";
  src: url("https://type.cargo.site/files/CargoMonumentGroteskMono-Medium.woff2") format("woff2"),
    url("https://type.cargo.site/files/CargoMonumentGroteskMono-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
